@if (isBrowser) {
    <div class="recognition">
        Speech recognition
        <tui-icon tuiTooltip="Say «Ok, Angular» to start recording and «Thank you, Angular» to end" />
        <p>
            @let result = record$ | async;

            @if (result) {
                @for (item of result; track $index) {
                    <span
                        class="transcript"
                        [class.transcript_final]="item.isFinal"
                    >
                        {{ item[0]?.transcript }}
                    </span>
                }
            } @else {
                Say «Ok, Angular»...
            }
        </p>
    </div>
    <tui-textfield
        tuiChevron
        [stringify]="'name' | tuiStringify"
    >
        <label tuiLabel>Voice</label>
        <input
            tuiSelect
            [(ngModel)]="voice"
        />
        <tui-data-list *tuiTextfieldDropdown>
            @for (item of voices$ | async; track $index) {
                <button
                    new
                    tuiOption
                    type="button"
                    [value]="item"
                >
                    {{ item.name }}
                </button>
            }
        </tui-data-list>
    </tui-textfield>
    <tui-textfield class="textarea">
        <label tuiLabel>Text</label>
        <textarea
            tuiTextarea
            [waTextToSpeech]="text | waUtterance: {lang: 'en-US', voice}"
            [waTextToSpeechPaused]="paused"
            [(ngModel)]="text"
            (waTextToSpeechEnd)="onEnd()"
        ></textarea>
    </tui-textfield>
    <div class="buttons">
        <button
            tuiButton
            type="button"
            (click)="onClick()"
        >
            {{ paused ? 'Play' : 'Pause' }}
        </button>
        Tip: say «Show sidebar»
    </div>

    <tui-drawer *tuiPopup="(open$ | async) || false">
        <div class="sidebar">
            <h2>More from &#64;ng-web-apis</h2>

            <a
                href="https://github.com/taiga-family/ng-web-apis/tree/main/libs/workers"
                rel="noreferrer"
                target="_blank"
                class="link"
            >
                <h3>Workers</h3>
                <img
                    alt="Worker API logo"
                    height="64"
                    src="assets/logos/workers/logo.svg"
                    width="64"
                    class="icon"
                />
            </a>

            <a
                href="https://github.com/taiga-family/ng-web-apis/tree/main/libs/canvas"
                rel="noreferrer"
                target="_blank"
                class="link"
            >
                <h3>Canvas</h3>
                <img
                    alt="Worker API logo"
                    height="64"
                    src="assets/logos/canvas/logo.svg"
                    width="64"
                    class="icon"
                />
            </a>

            <a
                href="https://github.com/taiga-family/ng-web-apis/tree/main/libs/audio"
                rel="noreferrer"
                target="_blank"
                class="link"
            >
                <h3>Audio</h3>
                <img
                    alt="Worker API logo"
                    height="64"
                    src="assets/logos/audio/logo.svg"
                    width="64"
                    class="icon"
                />
            </a>

            <a
                href="https://ng-web-apis.github.io/"
                rel="noreferrer"
                target="_blank"
                class="link"
            >
                See all
            </a>

            Tip: say «Hide sidebar» when you're done
        </div>
    </tui-drawer>
}
