<a class="link" [routerLink]="$string(link.CommonPage)">
    <div>
        <h2>Common</h2>
        A set of common utils for consuming
        <strong>Web APIs</strong>
        with Angular
    </div>
    <img
        src="assets/images/common.svg"
        width="64"
        height="64"
        alt="Common utils logo"
        class="icon"
    />
</a>
<a class="link" [routerLink]="$string(link.UniversalPage)">
    <div>
        <h2>Universal</h2>
        A set of fallbacks to seamlessly use
        <strong>Web APIs</strong>
        with Angular Universal
    </div>
    <img
        src="assets/images/universal.svg"
        width="64"
        height="64"
        alt="Universal logo"
        class="icon"
    />
</a>
<a
    href="https://github.com/ng-web-apis/audio"
    target="_blank"
    class="link"
    [class.not_supported]="!audioSupport"
>
    <div>
        <h2>Audio</h2>
        A library for declarative use of
        <strong>Web Audio API</strong>
        with Angular
    </div>
    <img
        src="assets/images/audio.svg"
        width="64"
        height="64"
        alt="Web Audio API logo"
        class="icon"
    />
</a>
<a href="https://github.com/ng-web-apis/canvas" target="_blank" class="link">
    <div>
        <h2>Canvas</h2>
        A library for declarative use of
        <strong>Canvas API</strong>
        with Angular
    </div>
    <img
        src="assets/images/canvas.svg"
        width="64"
        height="64"
        alt="Canvas API logo"
        class="icon"
    />
</a>
<a
    href="https://github.com/ng-web-apis/geolocation"
    target="_blank"
    class="link"
    [class.not-supported]="!geolocationSupport"
>
    <div>
        <h2>Geolocation</h2>
        An Observable based abstraction to use
        <strong>Geolocation API</strong>
        with Angular
    </div>
    <img
        src="assets/images/geolocation.svg"
        width="64"
        height="64"
        alt="Geolocation API logo"
        class="icon"
    />
</a>
<a
    href="https://github.com/ng-web-apis/intersection-observer"
    target="_blank"
    class="link"
    [class.not-supported]="!intersectionSupport"
>
    <div>
        <h2>Intersection Observer</h2>
        A library for declarative use of
        <strong>Intersection Observer API</strong>
        with Angular
    </div>
    <img
        src="assets/images/intersection-observer.svg"
        width="64"
        height="64"
        alt="Intersection Observer API logo"
        class="icon"
    />
</a>
<a
    href="https://github.com/ng-web-apis/midi"
    target="_blank"
    class="link"
    [class.not-supported]="!midiSupport"
>
    <div>
        <h2>MIDI</h2>
        An Observable based library for the use of
        <strong>Web MIDI API</strong>
        with Angular
    </div>
    <img
        src="assets/images/midi.svg"
        width="64"
        height="64"
        alt="Web MIDI API logo"
        class="icon"
    />
</a>
<a
    href="https://github.com/ng-web-apis/mutation-observer"
    target="_blank"
    class="link"
>
    <div>
        <h2>Mutation Observer</h2>
        A library for declarative use of
        <strong>Mutation Observer API</strong>
        with Angular
    </div>
    <img
        src="assets/images/mutation-observer.svg"
        width="64"
        height="64"
        alt="Mutation Observer API logo"
        class="icon"
    />
</a>
<a
    href="https://github.com/ng-web-apis/payment-request"
    target="_blank"
    class="link"
    [class.not-supported]="!paymentRequestSupport"
>
    <div>
        <h2>Payment Request</h2>
        A library for declarative use of
        <strong>Payment Request API</strong>
        with Angular
    </div>
    <img
        src="assets/images/payment-request.svg"
        width="64"
        height="64"
        alt="Payment Request API logo"
        class="icon"
    />
</a>
<a
    href="https://github.com/ng-web-apis/permissions"
    target="_blank"
    class="link"
    [class.not-supported]="!permissionsSupport"
>
    <div>
        <h2>Permissions</h2>
        A library for Observable-based use of
        <strong>Permissions API</strong>
    </div>
    <img
        src="assets/images/permissions.svg"
        width="64"
        height="64"
        alt="Permissions API logo"
        class="icon"
    />
</a>
<a
    class="link"
    [routerLink]="$string(link.ResizeObserverPage)"
    [class.not-supported]="!resizeSupport"
>
    <div>
        <h2>Resize Observer</h2>
        A library for declarative use of
        <strong>Resize Observer API</strong>
        with Angular
    </div>
    <img
        src="assets/images/resize-observer.svg"
        width="64"
        height="64"
        alt="Resize Observer API logo"
        class="icon"
    />
</a>
<a href="https://github.com/ng-web-apis/speech" target="_blank" class="link">
    <div>
        <h2>Speech</h2>
        A library for comfortable use of
        <strong>Web Speech API</strong>
        with Angular
    </div>
    <img
        src="assets/images/speech.svg"
        width="64"
        height="64"
        alt="Web Speech API logo"
        class="icon"
    />
</a>
<a href="https://github.com/ng-web-apis/storage" target="_blank" class="link">
    <div>
        <h2>Storage</h2>
        A library for comfortable use of
        <strong>Web Storage API</strong>
        with Angular
    </div>
    <img
        src="assets/images/storage.svg"
        width="64"
        height="64"
        alt="Web Storage API logo"
        class="icon"
    />
</a>
<a href="https://github.com/ng-web-apis/workers" target="_blank" class="link">
    <div>
        <h2>Workers</h2>
        A library for use of
        <strong>Web Workers</strong>
        as RxJS Observables with Angular
    </div>
    <img
        src="assets/images/workers.svg"
        width="64"
        height="64"
        alt="Worker API logo"
        class="icon"
    />
</a>
