The following example shows basic usage of
<code>PermissionsService</code>
:

<pre><code [highlight]="basicSample"></code></pre>

<div *ngIf="error$ | async as error">
    Unfortunately we could not show what the code snippet above would render due
    to an error:
    <br />
    <b>{{ error }}</b>
</div>

<div *ngIf="geolocationState$ | async as geolocationState">
    <p>The sample above would render the following:</p>

    <hr />
    <h2 class="align-center">Geolocation state: {{ geolocationState }}</h2>
    <hr />

    <p>
        Go ahead and change your browser Location permission as shown below to
        see this change reflected above.
    </p>

    <div class="align-center">
        <img
            src="assets/change-permissions-instructions.jpg"
            alt="Click on 'View site information' icon next to the address bar and change selected permission for Location"
        />
    </div>
</div>
