<h2>Tokens</h2>

<ul>
    <li>
        <code>WINDOW</code>
        — provides access to global
        <code>window</code>
        object
    </li>
    <li>
        <code>NAVIGATOR</code>
        — provides access to
        <code>window.navigator</code>
        object
    </li>
    <li>
        <code>NETWORK_INFORMATION</code>
        — provides access to
        <code>window.navigator.connection</code>
        object
    </li>
    <li>
        <code>USER_AGENT</code>
        — provides access to
        <code>window.navigator.userAgent</code>
        string
    </li>
    <li>
        <code>MEDIA_DEVICES</code>
        — provides access to
        <code>window.navigator.mediaDevices</code>
        object
    </li>
    <li>
        <code>PERFORMANCE</code>
        — provides access to
        <code>window.performance</code>
        object
    </li>
    <li>
        <code>ANIMATION_FRAME</code>
        — shared
        <code>Observable</code>
        based on
        <code>window.requestAnimationFrame</code>
    </li>
    <li>
        <code>CACHES</code>
        — provides access to
        <code>window.caches</code>
        object
    </li>
    <li>
        <code>CSS</code>
        — provides access to
        <code>window.CSS</code>
        object or mock object if it&#39;s not available (i.e. in IE)
    </li>
    <li>
        <code>CRYPTO</code>
        — provides access to
        <code>window.crypto</code>
        object
    </li>
    <li>
        <code>LOCATION</code>
        — provides access to
        <code>window.location</code>
        object
    </li>
    <li>
        <code>LOCAL_STORAGE</code>
        — provides access to
        <code>window.localStorage</code>
        object
    </li>
    <li>
        <code>SCREEN</code>
        — provides access to
        <code>window.screen</code>
        object
    </li>
    <li>
        <code>SESSION_STORAGE</code>
        — provides access to
        <code>window.sessionStorage</code>
        object
    </li>
    <li>
        <code>SPEECH_RECOGNITION</code>
        — provides access to
        <code>SpeechRecognition</code>
        class or returns
        <code>null</code>
        if browser does not support it
    </li>
    <li>
        <code>SPEECH_SYNTHESIS</code>
        — provides access to
        <code>window.speechSynthesis</code>
        object
    </li>
    <li>
        <code>PAGE_VISIBILITY</code>
        — wrapper for
        <code>document.addEventListener(&#39;visibilityChange&#39;)</code>
        api
    </li>
    <li>
        <code>HISTORY</code>
        — provides access to
        <code>window.history</code>
        object
    </li>
</ul>
