:host {
    display: block;
    max-inline-size: 37.5rem;
    margin: 0 auto;
}

.wrapper {
    padding: 0 0.625rem;
}

.how-it-works {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.how-it-works-point {
    margin-block-start: 1.625rem;
    margin-block-end: 1.625rem;
}

.how-it-works-text {
    flex: 1;
    min-inline-size: 18.75rem;
    margin: 0.5rem;
}

.directive-sample {
    display: block;
    flex: 1;
    margin: 0.5rem;
    inline-size: 20.625rem;
}

.directive-sample-arrow {
    position: absolute;
    inset-inline-end: 5.9375rem;
    inset-block-start: -2.625rem;
}
