<div class="wrapper">
    <p>
        Angular does not have any abstractions over
        <a
            target="_blank"
            href="https://developer.mozilla.org/en-US/docs/Web/API/Payment_Request_API"
        >
            PaymentRequest API
        </a>
        . This library provides you two ways to use this API with Angular of 6+
        version.
    </p>

    <h3>As an Angular service:</h3>

    <pre><code [highlight]="samples.service">
    {{samples.service}}
</code></pre>

    <h3>As a set of directives:</h3>

    <p>Click to add some items to a shopping cart:</p>
    <app-shop></app-shop>

    <h4>How it works:</h4>

    <div class="how-it-works">
        <div class="how-it-works-text">
            <p class="how-it-works-point">
                <a
                    target="_blank"
                    href="https://github.com/tinkoff/ng-web-apis/tree/main/libs/payment-request#wapayment"
                >
                    waPayment
                </a>
                directive defines a scope for a&nbsp;new payment and needs
                <a
                    target="_blank"
                    href="https://www.w3.org/TR/payment-request/#paymentitem-dictionary"
                >
                    PaymentItem
                </a>
                object with information about a label and a&nbsp;total sum of
                the payment
            </p>
            <p class="how-it-works-point">
                Each item of the shipping cart is a&nbsp;
                <a
                    target="_blank"
                    href="https://github.com/tinkoff/ng-web-apis/tree/main/libs/payment-request#waPaymentItem"
                >
                    waPaymentItem
                </a>
                directive. It&nbsp;is&nbsp;a&nbsp;declarative
                <a
                    target="_blank"
                    href="https://www.w3.org/TR/payment-request/#paymentitem-dictionary"
                >
                    PaymentItem
                </a>
                for your Payment
            </p>
            <p class="how-it-works-point">
                Click on the button starts a&nbsp;PaymentRequest modal in your
                browser that returns
                <a
                    target="_blank"
                    href="https://developer.mozilla.org/en-US/docs/Web/API/PaymentResponse"
                >
                    PaymentResponse
                </a>
                or an error. It works due a&nbsp;
                <a
                    target="_blank"
                    href="https://github.com/tinkoff/ng-web-apis/tree/main/libs/payment-request#waPaymentSubmit"
                >
                    waPaymentSubmit
                </a>
                directive.
            </p>
        </div>
        <pre
            class="directive-sample"
        ><code [highlight]="samples.directives"></code></pre>
    </div>
</div>
