<a
    class="link"
    [routerLink]="['/', link.CommonPage]"
>
    <div>
        <h2>Common</h2>
        A set of common utils for consuming
        <strong>Web APIs</strong>
        with Angular
    </div>
    <img
        alt="Common utils logo"
        height="64"
        src="assets/logos/common/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [routerLink]="['/', link.UniversalPage]"
>
    <div>
        <h2>Universal</h2>
        A set of fallbacks to seamlessly use
        <strong>Web APIs</strong>
        with Angular Universal
    </div>
    <img
        alt="Universal logo"
        height="64"
        src="assets/logos/universal/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [class.not_supported]="!audioSupport"
    [routerLink]="['/', link.AudioPage]"
>
    <div>
        <h2>Audio</h2>
        A library for declarative use of
        <strong>Web Audio API</strong>
        with Angular
    </div>
    <img
        alt="Web Audio API logo"
        height="64"
        src="assets/logos/audio/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [routerLink]="['/', link.CanvasPage]"
>
    <div>
        <h2>Canvas</h2>
        A library for declarative use of
        <strong>Canvas API</strong>
        with Angular
    </div>
    <img
        alt="Canvas API logo"
        height="64"
        src="assets/logos/canvas/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [class.not-supported]="!geolocationSupport"
    [routerLink]="['/', link.GeolocationPage]"
>
    <div>
        <h2>Geolocation</h2>
        An Observable based abstraction to use
        <strong>Geolocation API</strong>
        with Angular
    </div>
    <img
        alt="Geolocation API logo"
        height="64"
        src="assets/logos/geolocation/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [class.not-supported]="!intersectionSupport"
    [routerLink]="['/', link.IntersectionObserverPage]"
>
    <div>
        <h2>Intersection Observer</h2>
        A library for declarative use of
        <strong>Intersection Observer API</strong>
        with Angular
    </div>
    <img
        alt="Intersection Observer API logo"
        height="64"
        src="assets/logos/intersection-observer/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [class.not-supported]="!midiSupport"
    [routerLink]="['/', link.MidiPage]"
>
    <div>
        <h2>MIDI</h2>
        An Observable based library for the use of
        <strong>Web MIDI API</strong>
        with Angular
    </div>
    <img
        alt="Web MIDI API logo"
        height="64"
        src="assets/logos/midi/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [routerLink]="['/', link.MutationObserverPage]"
>
    <div>
        <h2>Mutation Observer</h2>
        A library for declarative use of
        <strong>Mutation Observer API</strong>
        with Angular
    </div>
    <img
        alt="Mutation Observer API logo"
        height="64"
        src="assets/logos/mutation-observer/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [class.not-supported]="!paymentRequestSupport"
    [routerLink]="['/', link.PaymentRequestPage]"
>
    <div>
        <h2>Payment Request</h2>
        A library for declarative use of
        <strong>Payment Request API</strong>
        with Angular
    </div>
    <img
        alt="Payment Request API logo"
        height="64"
        src="assets/logos/payment-request/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [class.not-supported]="!permissionsSupport"
    [routerLink]="['/', link.PermissionsPage]"
>
    <div>
        <h2>Permissions</h2>
        A library for Observable-based use of
        <strong>Permissions API</strong>
    </div>
    <img
        alt="Permissions API logo"
        height="64"
        src="assets/logos/permissions/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [class.not-supported]="!resizeSupport"
    [routerLink]="['/', link.ResizeObserverPage]"
>
    <div>
        <h2>Resize Observer</h2>
        A library for declarative use of
        <strong>Resize Observer API</strong>
        with Angular
    </div>
    <img
        alt="Resize Observer API logo"
        height="64"
        src="assets/logos/resize-observer/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [routerLink]="['/', link.SpeechPage]"
>
    <div>
        <h2>Speech</h2>
        A library for comfortable use of
        <strong>Web Speech API</strong>
        with Angular
    </div>
    <img
        alt="Web Speech API logo"
        height="64"
        src="assets/logos/speech/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [routerLink]="['/', link.StoragePage]"
>
    <div>
        <h2>Storage</h2>
        A library for comfortable use of
        <strong>Web Storage API</strong>
        with Angular
    </div>
    <img
        alt="Web Storage API logo"
        height="64"
        src="assets/logos/storage/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [routerLink]="['/', link.WorkersPage]"
>
    <div>
        <h2>Workers</h2>
        A library for use of
        <strong>Web Workers</strong>
        as RxJS Observables with Angular
    </div>
    <img
        alt="Worker API logo"
        height="64"
        src="assets/logos/workers/logo.svg"
        width="64"
        class="icon"
    />
</a>
<a
    class="link"
    [routerLink]="['/', link.ViewTransitionPage]"
>
    <div>
        <h2>View Transition</h2>
        A library for declarative use of
        <strong>View Transition API</strong>
        with Angular
    </div>
    <img
        alt="View transition API logo"
        height="64"
        src="assets/logos/view-transition/logo.svg"
        width="64"
        class="icon"
    />
</a>

<a
    class="link"
    [class.not-supported]="!notificationSupport"
    [routerLink]="['/', link.Notification]"
>
    <div>
        <h2>Notification</h2>
        A library for declarative use of
        <strong>Notification API</strong>
        with Angular
    </div>
    <img
        alt="Notification API logo"
        height="64"
        src="assets/logos/notification/logo.svg"
        width="64"
        class="icon"
    />
</a>

<a
    class="link"
    [routerLink]="['/', link.ScreenOrientation]"
>
    <div>
        <h2>Screen Orientation</h2>
        A library for declarative use of
        <strong>Screen Orientation API</strong>
        with Angular
    </div>
    <img
        alt="Screen Orientation API logo"
        height="64"
        src="assets/logos/screen-orientation/logo.svg"
        width="64"
        class="icon"
    />
</a>
