<div class="items">
    <div
        *ngFor="let item of items"
        class="item"
        (click)="addToShippingCard(item)"
    >
        <img
            alt="item"
            width="64"
            class="item-image"
            [src]="item.image"
        />
        <label class="item-label">{{ item.label }}</label>
        <p class="item-price">{{ item.price }} ₽</p>
    </div>
</div>

<div
    waPayment
    class="shopping-cart"
    [paymentTotal]="total"
>
    <div class="sticky">
        <h4>Shopping Cart</h4>

        <ng-container *ngIf="shippingCart.length > 0; else noItems">
            <div
                *ngFor="let cartItem of shippingCart"
                waPaymentItem
                class="shopping-card-item"
                [paymentAmount]="cartItem.amount"
                [paymentLabel]="cartItem.label"
            >
                {{ cartItem.label }} ({{ cartItem.amount.value }} {{ cartItem.amount.currency }})
            </div>
        </ng-container>
        <ng-template #noItems>Nothing added</ng-template>

        <div class="total">
            <b>Total:</b>
            {{ totalSum }} ₽
        </div>

        <button
            class="buy-button"
            [disabled]="shippingCart.length === 0"
            (waPaymentError)="onPaymentError($event)"
            (waPaymentSubmit)="onPayment($event)"
        >
            Buy
        </button>
    </div>
</div>
