@if (isBrowser) {
    <app-clock />

    <div class="example">
        <button
            appearance="secondary"
            tuiButton
            type="button"
            (click)="workerThread.postMessage()"
        >
            Run in worker process
        </button>
        <p>Execution time: {{ workerData$ | async }}</p>
        <div
            size="m"
            tuiNotification
        >
            This would be calculated in several seconds in a background thread
        </div>
    </div>
    <div class="example">
        <button
            appearance="secondary"
            tuiButton
            type="button"
            (click)="emitter.next()"
        >
            Run in main process
        </button>
        <p>Execution time: {{ result$ | async }}</p>
        <div
            size="m"
            tuiNotification
        >
            This would freeze your main thread for several seconds
        </div>
    </div>
}
