:host {
    perspective: 150vw;
    user-select: none;
    flex-direction: column;
    align-items: center;
}

.example {
    min-width: 360px;
    border-top: 1px solid gainsboro;
    margin-top: 16px;
    padding-top: 16px;
}
