<ng-container *ngIf="isBrowser">
    <app-clock />

    <div class="example">
        <button
            appearance="secondary"
            tuiButton
            type="button"
            (click)="workerThread.postMessage()"
        >
            Run in worker process
        </button>
        <p>Execution time: {{ workerData$ | async }}</p>
        <tui-notification size="m">This would be calculated in several seconds in a background thread</tui-notification>
    </div>
    <div class="example">
        <button
            appearance="secondary"
            tuiButton
            type="button"
            (click)="emitter.next()"
        >
            Run in main process
        </button>
        <p>Execution time: {{ result$ | async }}</p>
        <tui-notification size="m">This would freeze your main thread for several seconds</tui-notification>
    </div>
</ng-container>
