<strong>Angular</strong>
does not have any built-in instruments to use
<strong>Geolocation API</strong>
. This is an
<code>Observable</code>
based abstraction over
<strong>Geolocation API</strong>
to use with
<strong>Angular</strong>

<h2>How to use</h2>
<p>
    Usage is pretty simple: just import service in your component and subscribe
    to it. Service extends
    <code>Observable</code>
    and will emit the
    <code>Position</code>
    object.
</p>

<pre><code [highlight]="sample"></code></pre>

<p>You also can use async pipe</p>

<pre><code [highlight]="sampleAsync"></code></pre>

<h2>Single position</h2>
<p>
    If you need to get position just once and stop observing user location, you
    can subscribe to
    <code>geolocation$</code>
    and use
    <code>take(1)</code>
    RxJS operator. Service is cold, meaning if there are no Subscribers, it
    doesn't track position
</p>

<button *ngIf="!watch" tuiButton appearance="secondary" (click)="watch = true">
    Get my position!
</button>

<ng-container *ngIf="watch">
    <iframe
        *ngIf="geolocation$ | async as position else loading"
        [src]="getUrl(position)"
    ></iframe>
    <ng-template #loading>
        <tui-loader></tui-loader>
    </ng-template>
</ng-container>
