@if (!started) {
    <button
        appearance="secondary"
        tuiButton
        type="button"
        (click)="start()"
    >
        Start AudioContext
    </button>
} @else {
    <section>
        <h2>Description</h2>
        <p>
            This is a demo for
            <strong>&#64;ng-web-apis/audio</strong>
            — a Web Audio API declarative library for Angular. Here you can select different audio source options and
            see AudioNode graph for selected configuration. Demo page uses HTML elements as directives hosts, in real
            life scenario you can use
            <code>ng-container</code>
            so you will not have redundant DOM tags.
        </p>
    </section>
    <section>
        <h2>Source</h2>

        <label tuiLabel>
            <input
                name="source"
                tuiRadio
                type="radio"
                value="buffer"
                [(ngModel)]="selectedSource"
            />
            AudioBufferSourceNode
        </label>
        <label tuiLabel>
            <input
                name="source"
                tuiRadio
                type="radio"
                value="media"
                [(ngModel)]="selectedSource"
            />
            MediaElementAudioSourceNode
        </label>
        <label tuiLabel>
            <input
                name="source"
                tuiRadio
                type="radio"
                value="oscillator"
                [(ngModel)]="selectedSource"
            />
            OscillatorNode
        </label>

        @switch (selectedSource) {
            @case ('buffer') {
                @for (_ of buffers; track $index) {
                    <button
                        #source="AudioNode"
                        buffer="assets/demo.mp3"
                        size="s"
                        tuiButton
                        type="button"
                        waAudioBufferSourceNode
                        [loop]="true"
                        (click)="onClick(source, $any($event).target)"
                    >
                        Play
                        <ng-container
                            waAnalyserNode
                            [fftSize]="fftSize"
                            (timeByte$)="onTimeDomain($event)"
                        >
                            <ng-container [waOutput]="chain || fallback" />
                        </ng-container>
                    </button>
                }
            }
            @case ('media') {
                <audio
                    controls
                    loop
                    src="assets/demo.mp3"
                    waMediaElementAudioSourceNode
                >
                    <ng-container
                        waAnalyserNode
                        [fftSize]="fftSize"
                        (timeByte$)="onTimeDomain($event)"
                    >
                        <ng-container [waOutput]="chain || fallback" />
                    </ng-container>
                </audio>
            }
            @case ('oscillator') {
                @for (_ of buffers; track $index) {
                    <button
                        #source="AudioNode"
                        size="s"
                        tuiButton
                        type="button"
                        waOscillatorNode
                        [frequency]="100"
                        [periodicWave]="real | waPeriodicWave"
                        (click)="onClick(source, $any($event).target)"
                    >
                        Play
                        <ng-container
                            waAnalyserNode
                            [fftSize]="fftSize"
                            (timeByte$)="onTimeDomain($event)"
                        >
                            <ng-container [waOutput]="chain || fallback" />
                        </ng-container>
                    </button>
                }
            }
        }

        <p>
            <canvas
                #canvas
                #fallback="AudioNode"
                waAudioDestinationNode
                waCanvas2d
                class="canvas"
            >
                <canvas-path
                    fillStyle="transparent"
                    strokeStyle="black"
                    [lineWidth]="4 / canvas.height"
                    [path]="path | path"
                    [transform]="getTransform(canvas) | transform"
                />
            </canvas>
        </p>
    </section>

    <section>
        <h2>Chain</h2>

        <label tuiLabel>
            <input
                name="chain"
                tuiRadio
                type="radio"
                value="dry"
                [(ngModel)]="selectedChain"
            />
            Dry
        </label>
        <label tuiLabel>
            <input
                name="chain"
                tuiRadio
                type="radio"
                value="balance"
                [(ngModel)]="selectedChain"
            />
            Balance
        </label>
        <label tuiLabel>
            <input
                name="chain"
                tuiRadio
                type="radio"
                value="delay"
                [(ngModel)]="selectedChain"
            />
            Delay
        </label>
        <label tuiLabel>
            <input
                name="chain"
                tuiRadio
                type="radio"
                value="complex"
                [(ngModel)]="selectedChain"
            />
            Complex
        </label>

        @switch (selectedChain) {
            @case ('balance') {
                <fieldset
                    #chain="AudioNode"
                    waGainNode
                    [gain]="gain | waAudioParam: 0.1"
                >
                    <legend>GainNode</legend>
                    <input
                        max="1"
                        min="0"
                        step="0.01"
                        tuiSlider
                        type="range"
                        [(ngModel)]="gain"
                    />
                    <fieldset
                        waStereoPannerNode
                        [pan]="pan | waAudioParam: 0.1"
                    >
                        <legend>StereoPannerNode</legend>
                        <input
                            max="1"
                            min="-1"
                            step="0.01"
                            tuiSlider
                            type="range"
                            [(ngModel)]="pan"
                        />
                        <fieldset waAudioDestinationNode>
                            <legend>AudioDestinationNode</legend>
                        </fieldset>
                    </fieldset>
                </fieldset>
            }
            @case ('delay') {
                <fieldset
                    #chain="AudioNode"
                    waGainNode
                    [gain]="gain | waAudioParam: 0.1"
                >
                    <legend>GainNode</legend>
                    <em>For feedback loop purposes only</em>

                    <fieldset
                        waDelayNode
                        [delayTime]="delayTime | waAudioParam: 0.1"
                    >
                        <legend>DelayNode</legend>
                        <input
                            max="1"
                            min="0"
                            step="0.01"
                            tuiSlider
                            type="range"
                            [(ngModel)]="delayTime"
                        />
                        <fieldset
                            waGainNode
                            [gain]="delayGain"
                        >
                            <legend>GainNode</legend>
                            <input
                                max="1"
                                min="0"
                                step="0.01"
                                tuiSlider
                                type="range"
                                [(ngModel)]="delayGain"
                            />
                            <fieldset [waOutput]="chain">
                                <legend>Output</legend>
                                <em>Connected back to the beginning of the chain</em>
                            </fieldset>
                        </fieldset>
                    </fieldset>
                    <fieldset waAudioDestinationNode>
                        <legend>AudioDestinationNode</legend>
                    </fieldset>
                </fieldset>
            }
            @case ('complex') {
                <fieldset
                    #chain="AudioNode"
                    waBiquadFilterNode
                    [detune]="detune | waAudioParam: 0.1"
                    [frequency]="frequency | waAudioParam: 0.1"
                    [gain]="filterGain | waAudioParam: 0.1"
                    [Q]="q | waAudioParam: 0.1"
                    [type]="type"
                >
                    <legend>BiquadFilterNode</legend>
                    <tui-select
                        tuiTextfieldSize="m"
                        [(ngModel)]="type"
                    >
                        Type
                        <tui-data-list-wrapper
                            *tuiDataList
                            [items]="items"
                        />
                    </tui-select>
                    <label tuiLabel>
                        gain
                        <input
                            max="1"
                            min="0"
                            step="0.01"
                            tuiSlider
                            type="range"
                            [(ngModel)]="filterGain"
                        />
                    </label>
                    <label tuiLabel>
                        frequence
                        <input
                            max="5000"
                            min="20"
                            tuiSlider
                            type="range"
                            [(ngModel)]="frequency"
                        />
                    </label>
                    <label tuiLabel>
                        Q
                        <input
                            max="100"
                            min="1"
                            tuiSlider
                            type="range"
                            [(ngModel)]="q"
                        />
                    </label>
                    <label tuiLabel>
                        detune
                        <input
                            max="100"
                            min="0"
                            tuiSlider
                            type="range"
                            [(ngModel)]="detune"
                        />
                    </label>
                    <fieldset
                        oversample="4x"
                        waWaveShaperNode
                        [curve]="curve"
                    >
                        <legend>WaveShaperNode</legend>
                        <input
                            max="20"
                            min="0"
                            step="0.1"
                            tuiSlider
                            type="range"
                            [ngModel]="distortion"
                            (ngModelChange)="onCurveChange($event)"
                        />
                        <ng-container
                            waGainNode
                            [gain]="distortionCompensation | waAudioParam: 0.1"
                        >
                            <fieldset
                                buffer="assets/response.m4a"
                                waConvolverNode
                            >
                                <legend>ConvolverNode</legend>
                                <fieldset waAudioDestinationNode>
                                    <legend>AudioDestinationNode</legend>
                                </fieldset>
                            </fieldset>
                        </ng-container>
                    </fieldset>
                </fieldset>
            }
        }
    </section>
}
