:host {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

@media (max-width: 1100px) {
    :host {
        flex-direction: column;
        inline-size: 320px;
        margin: 0 auto;
    }
}

tui-radio-labeled {
    margin: 1rem 0;
}

section {
    flex: 1;
    max-inline-size: 20rem;
    padding: 0.0625rem 0.625rem 0.625rem;
    box-sizing: border-box;
    background: #f5f5f5;
    border-radius: 0.5rem;
}

audio {
    margin-block-start: 1em;
}

label {
    align-items: center;
    margin-block-start: 0.5rem;

    [type='range'] {
        width: 10rem;
    }
}

fieldset label {
    width: 100% !important;
    justify-content: space-between;
}

input {
    margin: 0;
}

fieldset {
    margin-block-start: 1em;
    border: none;
    border-radius: 0.25rem;
}

legend {
    background: #fff;
    box-shadow: 0 0 2px;
    padding: 0.3125rem 0.625rem;
    border-radius: 2px;
}

*[ng-reflect--waoutput] {
    background: #d8bfd8;
}

*[waGainNode] {
    background: #ffc0cb;
}

*[waDelayNode] {
    background: #90ee90;
}

*[waStereoPannerNode] {
    background: #87ceeb;
}

*[waAudioDestinationNode] {
    background: #f0e68c;
}

*[waWaveShaperNode] {
    background: #fa8072;
}

*[waBiquadFilterNode] {
    background: #ffd700;
}

*[waConvolverNode] {
    background: #7fffd4;
}
