<button
    *ngIf="!started; else graph"
    appearance="secondary"
    tuiButton
    (click)="start()"
>
    Start AudioContext
</button>
<ng-template #graph>
    <section>
        <h1>Description</h1>
        <p>
            This is a demo for
            <strong>@ng-web-apis/audio</strong>
            — a Web Audio API declarative library for Angular. Here you can select different audio source options and
            see AudioNode graph for selected configuration. Demo page uses HTML elements as directives hosts, in real
            life scenario you can use
            <code>ng-container</code>
            so you will not have redundant DOM tags.
        </p>
    </section>
    <section>
        <h1>Source</h1>

        <tui-radio-labeled
            item="buffer"
            name="source"
            [(ngModel)]="selectedSource"
        >
            AudioBufferSourceNode
        </tui-radio-labeled>
        <tui-radio-labeled
            item="media"
            name="source"
            [(ngModel)]="selectedSource"
        >
            MediaElementAudioSourceNode
        </tui-radio-labeled>
        <tui-radio-labeled
            item="oscillator"
            name="source"
            [(ngModel)]="selectedSource"
        >
            OscillatorNode
        </tui-radio-labeled>

        <ng-container [ngSwitch]="selectedSource">
            <ng-container *ngSwitchCase="'buffer'">
                <button
                    *ngFor="let _ of buffers"
                    #source="AudioNode"
                    buffer="assets/demo.mp3"
                    size="s"
                    tuiButton
                    waAudioBufferSourceNode
                    [loop]="true"
                    (click)="onClick(source, $any($event).target)"
                >
                    Play
                    <ng-container
                        waAnalyserNode
                        [fftSize]="fftSize"
                        (timeByte$)="onTimeDomain($event)"
                    >
                        <ng-container [waOutput]="chain || fallback"></ng-container>
                    </ng-container>
                </button>
            </ng-container>
            <audio
                *ngSwitchCase="'media'"
                controls
                loop
                src="assets/demo.mp3"
                waMediaElementAudioSourceNode
            >
                <ng-container
                    waAnalyserNode
                    [fftSize]="fftSize"
                    (timeByte$)="onTimeDomain($event)"
                >
                    <ng-container [waOutput]="chain || fallback"></ng-container>
                </ng-container>
            </audio>
            <ng-container *ngSwitchCase="'oscillator'">
                <button
                    *ngFor="let _ of buffers"
                    #source="AudioNode"
                    size="s"
                    tuiButton
                    waOscillatorNode
                    [frequency]="100"
                    [periodicWave]="real | waPeriodicWave"
                    (click)="onClick(source, $any($event).target)"
                >
                    Play
                    <ng-container
                        waAnalyserNode
                        [fftSize]="fftSize"
                        (timeByte$)="onTimeDomain($event)"
                    >
                        <ng-container [waOutput]="chain || fallback"></ng-container>
                    </ng-container>
                </button>
            </ng-container>
        </ng-container>

        <p>
            <canvas
                #canvas
                #fallback="AudioNode"
                waAudioDestinationNode
                waCanvas2d
                class="canvas"
            >
                <canvas-path
                    fillStyle="transparent"
                    strokeStyle="black"
                    [lineWidth]="4 / canvas.height"
                    [path]="path | path"
                    [transform]="getTransform(canvas) | transform"
                ></canvas-path>
            </canvas>
        </p>
    </section>

    <section>
        <h1>Chain</h1>

        <tui-radio-labeled
            item="dry"
            name="chain"
            [(ngModel)]="selectedChain"
        >
            Dry
        </tui-radio-labeled>
        <tui-radio-labeled
            item="balance"
            name="chain"
            [(ngModel)]="selectedChain"
        >
            Balance
        </tui-radio-labeled>
        <tui-radio-labeled
            item="delay"
            name="chain"
            [(ngModel)]="selectedChain"
        >
            Delay
        </tui-radio-labeled>
        <tui-radio-labeled
            item="complex"
            name="chain"
            [(ngModel)]="selectedChain"
        >
            Complex
        </tui-radio-labeled>

        <ng-container [ngSwitch]="selectedChain">
            <ng-container *ngSwitchCase="'balance'">
                <fieldset
                    #chain="AudioNode"
                    waGainNode
                    [gain]="gain | waAudioParam: 0.1"
                >
                    <legend>GainNode</legend>
                    <input
                        max="1"
                        min="0"
                        step="0.01"
                        tuiSlider
                        type="range"
                        [(ngModel)]="gain"
                    />
                    <fieldset
                        waStereoPannerNode
                        [pan]="pan | waAudioParam: 0.1"
                    >
                        <legend>StereoPannerNode</legend>
                        <input
                            max="1"
                            min="-1"
                            step="0.01"
                            tuiSlider
                            type="range"
                            [(ngModel)]="pan"
                        />
                        <fieldset waAudioDestinationNode>
                            <legend>AudioDestinationNode</legend>
                        </fieldset>
                    </fieldset>
                </fieldset>
            </ng-container>

            <ng-container *ngSwitchCase="'delay'">
                <fieldset
                    #chain="AudioNode"
                    waGainNode
                    [gain]="gain | waAudioParam: 0.1"
                >
                    <legend>GainNode</legend>
                    <em>For feedback loop purposes only</em>

                    <fieldset
                        waDelayNode
                        [delayTime]="delayTime | waAudioParam: 0.1"
                    >
                        <legend>DelayNode</legend>
                        <input
                            max="1"
                            min="0"
                            step="0.01"
                            tuiSlider
                            type="range"
                            [(ngModel)]="delayTime"
                        />
                        <fieldset
                            waGainNode
                            [gain]="delayGain"
                        >
                            <legend>GainNode</legend>
                            <input
                                max="1"
                                min="0"
                                step="0.01"
                                tuiSlider
                                type="range"
                                [(ngModel)]="delayGain"
                            />
                            <fieldset [waOutput]="chain">
                                <legend>Output</legend>
                                <em>Connected back to the beginning of the chain</em>
                            </fieldset>
                        </fieldset>
                    </fieldset>
                    <fieldset waAudioDestinationNode>
                        <legend>AudioDestinationNode</legend>
                    </fieldset>
                </fieldset>
            </ng-container>

            <ng-container *ngSwitchCase="'complex'">
                <fieldset
                    #chain="AudioNode"
                    waBiquadFilterNode
                    [detune]="detune | waAudioParam: 0.1"
                    [frequency]="frequency | waAudioParam: 0.1"
                    [gain]="filterGain | waAudioParam: 0.1"
                    [Q]="Q | waAudioParam: 0.1"
                    [type]="type"
                >
                    <legend>BiquadFilterNode</legend>
                    <tui-select
                        tuiTextfieldSize="m"
                        [(ngModel)]="type"
                    >
                        Type
                        <tui-data-list-wrapper
                            *tuiDataList
                            [items]="items"
                        ></tui-data-list-wrapper>
                    </tui-select>
                    <label tuiLabel="gain">
                        <input
                            max="1"
                            min="0"
                            step="0.01"
                            tuiSlider
                            type="range"
                            [(ngModel)]="filterGain"
                        />
                    </label>
                    <label tuiLabel="frequence">
                        <input
                            max="5000"
                            min="20"
                            tuiSlider
                            type="range"
                            [(ngModel)]="frequency"
                        />
                    </label>
                    <label tuiLabel="Q">
                        <input
                            max="100"
                            min="1"
                            tuiSlider
                            type="range"
                            [(ngModel)]="Q"
                        />
                    </label>
                    <label tuiLabel="detune">
                        <input
                            max="100"
                            min="0"
                            tuiSlider
                            type="range"
                            [(ngModel)]="detune"
                        />
                    </label>
                    <fieldset
                        oversample="4x"
                        waWaveShaperNode
                        [curve]="curve"
                    >
                        <legend>WaveShaperNode</legend>
                        <input
                            max="20"
                            min="0"
                            step="0.1"
                            tuiSlider
                            type="range"
                            [ngModel]="distortion"
                            (ngModelChange)="onCurveChange($event)"
                        />
                        <ng-container
                            waGainNode
                            [gain]="distortionCompensation | waAudioParam: 0.1"
                        >
                            <fieldset
                                buffer="assets/response.m4a"
                                waConvolverNode
                            >
                                <legend>ConvolverNode</legend>
                                <fieldset waAudioDestinationNode>
                                    <legend>AudioDestinationNode</legend>
                                </fieldset>
                            </fieldset>
                        </ng-container>
                    </fieldset>
                </fieldset>
            </ng-container>
        </ng-container>
    </section>
</ng-template>
