:host {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

@media (max-width: 1100px) {
    :host {
        flex-direction: column;
        inline-size: 320px;
        margin: 0 auto;
    }
}

tui-radio-labeled {
    margin: 1rem 0;
}

section {
    flex: 1;
    max-inline-size: 20rem;
    padding: 0.0625rem 0.625rem 0.625rem;
    box-sizing: border-box;
    background: whitesmoke;
    border-radius: 0.5rem;
}

audio {
    margin-top: 1em;
}

label {
    margin-top: 0.5rem;
}

input {
    margin: 0;
}

fieldset {
    margin-top: 1em;
    border: none;
    border-radius: 4px;
}

legend {
    background: white;
    box-shadow: 0 0 2px;
    padding: 0.3125rem 0.625rem;
    border-radius: 2px;
}

*[ng-reflect--waoutput] {
    background: thistle;
}

*[waGainNode] {
    background: pink;
}

*[waDelayNode] {
    background: lightgreen;
}

*[waStereoPannerNode] {
    background: skyblue;
}

*[waAudioDestinationNode] {
    background: khaki;
}

*[waWaveShaperNode] {
    background: salmon;
}

*[waBiquadFilterNode] {
    background: gold;
}

*[waConvolverNode] {
    background: aquamarine;
}
