<h2>Basic example</h2>
<section tuiTextfieldSize="m">
    <fieldset>
        <label
            tuiLabel
            class="child"
        >
            x
            <input
                max="300"
                min="0"
                tuiSlider
                type="range"
                [(ngModel)]="x1"
            />
        </label>
        <label
            tuiLabel
            class="child"
        >
            y
            <input
                max="150"
                min="0"
                tuiSlider
                type="range"
                [(ngModel)]="y1"
            />
        </label>
        <label
            tuiLabel
            class="child"
        >
            width
            <input
                max="300"
                min="0"
                tuiSlider
                type="range"
                [(ngModel)]="w1"
            />
        </label>
        <label
            tuiLabel
            class="child"
        >
            height
            <input
                max="150"
                min="0"
                tuiSlider
                type="range"
                [(ngModel)]="h1"
            />
        </label>
    </fieldset>

    <fieldset>
        <label
            tuiLabel
            class="child"
        >
            x
            <input
                max="300"
                min="0"
                tuiSlider
                type="range"
                [(ngModel)]="x2"
            />
        </label>
        <label
            tuiLabel
            class="child"
        >
            y
            <input
                max="150"
                min="0"
                tuiSlider
                type="range"
                [(ngModel)]="y2"
            />
        </label>
        <label
            tuiLabel
            class="child"
        >
            width
            <input
                max="300"
                min="0"
                tuiSlider
                type="range"
                [(ngModel)]="w2"
            />
        </label>
        <label
            tuiLabel
            class="child"
        >
            height
            <input
                max="150"
                min="0"
                tuiSlider
                type="range"
                [(ngModel)]="h2"
            />
        </label>
        <div class="row">
            <tui-textfield
                tuiChevron
                class="child"
            >
                <label tuiLabel>Overlay</label>
                <input
                    tuiSelect
                    [(ngModel)]="globalCompositeOperation"
                />
                <tui-data-list-wrapper
                    *tuiTextfieldDropdown
                    new
                    [items]="items"
                />
            </tui-textfield>
            <tui-textfield class="child">
                <label tuiLabel>Color</label>
                <input
                    tuiInputColor
                    [(ngModel)]="c2"
                />
            </tui-textfield>
        </div>
    </fieldset>

    <fieldset>
        <label tuiInputFiles>
            <input
                tuiInputFiles
                [ngModel]="file"
                (ngModelChange)="onFile($event)"
            />
        </label>

        <tui-files>
            @if (file) {
                <tui-file
                    tuiItem
                    [file]="file"
                />
            }
        </tui-files>

        <tui-expand
            class="child"
            [expanded]="!!file"
        >
            <div class="controls">
                <label tuiLabel>
                    dX
                    <input
                        max="300"
                        min="0"
                        tuiSlider
                        type="range"
                        [(ngModel)]="dX"
                    />
                </label>

                <label tuiLabel>
                    dY
                    <input
                        max="150"
                        min="0"
                        tuiSlider
                        type="range"
                        [(ngModel)]="dY"
                    />
                </label>

                <label tuiLabel>
                    dWidth
                    <input
                        max="300"
                        min="0"
                        tuiSlider
                        type="range"
                        [(ngModel)]="dWidth"
                    />
                </label>

                <label tuiLabel>
                    dHeight
                    <input
                        max="150"
                        min="0"
                        tuiSlider
                        type="range"
                        [(ngModel)]="dHeight"
                    />
                </label>
            </div>
        </tui-expand>
    </fieldset>
</section>

<canvas waCanvas2d>
    @if (image) {
        <canvas-draw-image
            [dHeight]="dHeight"
            [dWidth]="dWidth"
            [dX]="dX"
            [dY]="dY"
            [image]="image"
        />
    }

    <canvas-path fillStyle="#f00">
        <canvas-rect
            [height]="h1"
            [width]="w1"
            [x]="x1"
            [y]="y1"
        />
    </canvas-path>
    <canvas-path
        [fillStyle]="c2"
        [globalCompositeOperation]="globalCompositeOperation"
    >
        <canvas-rect
            [height]="h2"
            [width]="w2"
            [x]="x2"
            [y]="y2"
        />
    </canvas-path>
</canvas>
<h2>Path example</h2>

<section tuiTextfieldSize="m">
    <fieldset>
        <label
            tuiLabel
            class="child"
        >
            Pac-Man mouth
            <input
                max="45"
                min="0.01"
                tuiSlider
                type="range"
                [(ngModel)]="mouth"
            />
        </label>
        <label
            tuiLabel
            class="child"
        >
            Pac-Man shadow blur
            <input
                max="10"
                min="0"
                tuiSlider
                type="range"
                [(ngModel)]="blur"
            />
        </label>
        <label
            tuiLabel
            class="child"
        >
            Pac-Man shadow distance
            <input
                max="10"
                min="0"
                tuiSlider
                type="range"
                [(ngModel)]="offset"
            />
        </label>
    </fieldset>
    <fieldset>
        <tui-textfield class="child">
            <label tuiLabel>Text</label>
            <input
                tuiTextfield
                [(ngModel)]="text"
            />
        </tui-textfield>
        <tui-textfield class="child">
            <label tuiLabel>Font</label>
            <input
                tuiTextfield
                [(ngModel)]="font"
            />
        </tui-textfield>
        <tui-textfield class="child">
            <label tuiLabel>Color</label>
            <input
                tuiInputColor
                [(ngModel)]="color"
            />
        </tui-textfield>
    </fieldset>
</section>
<canvas
    waCanvas2d
    [height]="300"
    [transform]="'scale(2, 2)' | transform"
    [width]="600"
>
    <canvas-path
        fillStyle="gold"
        shadowColor="grey"
        [shadowBlur]="blur"
        [shadowOffsetY]="offset"
    >
        <canvas-arc
            [endAngle]="-mouth | rad"
            [radius]="30"
            [startAngle]="mouth | rad"
            [x]="50"
            [y]="75"
        />
        <canvas-line-to
            [x]="50"
            [y]="75"
        />
    </canvas-path>
    <canvas-text
        [fillStyle]="color"
        [font]="font"
        [maxWidth]="200"
        [text]="text"
        [x]="90"
        [y]="90"
    />
</canvas>
