<h2>Basic example</h2>
<section>
    <fieldset>
        <label tuiLabel="x" class="child">
            <input tuiSlider type="range" min="0" max="300" [(ngModel)]="x1" />
        </label>
        <label tuiLabel="y" class="child">
            <input tuiSlider type="range" min="0" max="150" [(ngModel)]="y1" />
        </label>
        <label tuiLabel="width" class="child">
            <input tuiSlider type="range" min="0" max="300" [(ngModel)]="w1" />
        </label>
        <label tuiLabel="height" class="child">
            <input tuiSlider type="range" min="0" max="150" [(ngModel)]="h1" />
        </label>
    </fieldset>

    <fieldset>
        <label tuiLabel="x" class="child">
            <input tuiSlider type="range" min="0" max="300" [(ngModel)]="x2" />
        </label>
        <label tuiLabel="y" class="child">
            <input tuiSlider type="range" min="0" max="150" [(ngModel)]="y2" />
        </label>
        <label tuiLabel="width" class="child">
            <input tuiSlider type="range" min="0" max="300" [(ngModel)]="w2" />
        </label>
        <label tuiLabel="height" class="child">
            <input tuiSlider type="range" min="0" max="150" [(ngModel)]="h2" />
        </label>
        <div class="row">
            <tui-select
                tuiTextfieldSize="m"
                class="child"
                [(ngModel)]="globalCompositeOperation"
            >
                Overlay
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="items"
                ></tui-data-list-wrapper>
            </tui-select>
            <tui-input-color
                tuiTextfieldSize="m"
                class="child"
                [(ngModel)]="c2"
            >
                Color
            </tui-input-color>
        </div>
    </fieldset>

    <fieldset>
        <tui-input-files
            class="child"
            [ngModel]="file"
            (ngModelChange)="onFile($event)"
        >
            <input tuiInputFiles accept="image/*" />
        </tui-input-files>

        <tui-expand class="child" [expanded]="!!file">
            <div class="controls">
                <label tuiLabel="dX">
                    <input
                        tuiSlider
                        type="range"
                        min="0"
                        max="300"
                        [(ngModel)]="dX"
                    />
                </label>

                <label tuiLabel="dY">
                    <input
                        tuiSlider
                        type="range"
                        min="0"
                        max="150"
                        [(ngModel)]="dY"
                    />
                </label>

                <label tuiLabel="dWidth">
                    <input
                        tuiSlider
                        type="range"
                        min="0"
                        max="300"
                        [(ngModel)]="dWidth"
                    />
                </label>

                <label tuiLabel="dHeight">
                    <input
                        tuiSlider
                        type="range"
                        min="0"
                        max="150"
                        [(ngModel)]="dHeight"
                    />
                </label>
            </div>
        </tui-expand>
    </fieldset>
</section>

<canvas waCanvas2d>
    <canvas-draw-image
        [image]="image"
        [dX]="dX"
        [dY]="dY"
        [dWidth]="dWidth"
        [dHeight]="dHeight"
    ></canvas-draw-image>
    <canvas-path fillStyle="#f00">
        <canvas-rect [x]="x1" [y]="y1" [width]="w1" [height]="h1"></canvas-rect>
    </canvas-path>
    <canvas-path
        [fillStyle]="c2"
        [globalCompositeOperation]="globalCompositeOperation"
    >
        <canvas-rect [x]="x2" [y]="y2" [width]="w2" [height]="h2"></canvas-rect>
    </canvas-path>
</canvas>
<h2>Path example</h2>

<section>
    <fieldset>
        <label tuiLabel="Pac-Man mouth" class="child">
            <input
                tuiSlider
                type="range"
                min="0.01"
                max="45"
                [(ngModel)]="mouth"
            />
        </label>
        <label tuiLabel="Pac-Man shadow blur" class="child">
            <input tuiSlider type="range" min="0" max="10" [(ngModel)]="blur" />
        </label>
        <label tuiLabel="Pac-Man shadow distance" class="child">
            <input
                tuiSlider
                type="range"
                min="0"
                max="10"
                [(ngModel)]="offset"
            />
        </label>
    </fieldset>
    <fieldset>
        <tui-input tuiTextfieldSize="m" class="child" [(ngModel)]="text">
            Text
        </tui-input>
        <tui-input tuiTextfieldSize="m" class="child" [(ngModel)]="font">
            Font
        </tui-input>
        <tui-input-color tuiTextfieldSize="m" class="child" [(ngModel)]="color">
            color
        </tui-input-color>
    </fieldset>
</section>
<canvas
    waCanvas2d
    [width]="600"
    [height]="300"
    [transform]="'scale(2, 2)' | transform"
>
    <canvas-path
        fillStyle="gold"
        shadowColor="grey"
        [shadowBlur]="blur"
        [shadowOffsetY]="offset"
    >
        <canvas-arc
            [x]="50"
            [y]="75"
            [radius]="30"
            [startAngle]="mouth | rad"
            [endAngle]="-mouth | rad"
        ></canvas-arc>
        <canvas-line-to [x]="50" [y]="75"></canvas-line-to>
    </canvas-path>
    <canvas-text
        [fillStyle]="color"
        [maxWidth]="200"
        [text]="text"
        [font]="font"
        [x]="90"
        [y]="90"
    ></canvas-text>
</canvas>
