:host {
    display: block;
    max-width: 800px;
    margin: 0 auto;
}

fieldset {
    display: flex;
    border: none;
    background: whitesmoke;
    padding: 1px 12px;
    border-radius: 6px;
    margin: 12px;
}

section {
    display: flex;
    margin: 12px;
}

label {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}

canvas {
    display: block;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.2);
}
