:host {
    display: block;
    max-inline-size: 50rem;
    margin: 0 auto;
}

.row {
    display: flex;
    min-inline-size: 100%;
    gap: 0.75rem;
}

.child {
    flex: 1;
    min-inline-size: 6.25rem;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

input {
    margin: 0;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
    background: #f5f5f5;
    padding: 0.75rem;
    margin: 0.75rem 0;
    gap: 0.75rem;
    border-radius: 1.25rem;
}

canvas {
    display: block;
    inline-size: 18.75rem;
    block-size: 9.375rem;
    margin: 0 auto 2.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 0.75rem 2.25rem rgba(0, 0, 0, 20%);
}
