:host {
    display: block;
    block-size: 100%;
}

.logo {
    margin-right: 1.25rem;
    cursor: pointer;
}

.title {
    line-height: 1;
}

.back {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.back.active {
    display: none;
}

.back tui-svg {
    block-size: 1rem;
    inline-size: 1rem;
    margin-right: 0.25rem;
    vertical-align: -0.1rem;
}

.root {
    block-size: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-block-size: 100%;
}

.header {
    display: flex;
    max-inline-size: 75rem;
    margin: 0 auto;
}

header {
    display: flex;
    border-bottom: 1px solid #dcdcdc;
}

main {
    flex: 1;
}

header,
main {
    padding: 2.5rem 1.25rem;
}

footer {
    padding: 16px;
    font-size: 0.75rem;
    border-top: 1px solid #dcdcdc;
    text-align: center;
}
