Coming soon!
<!--<tui-root class="root">-->
<!--    <div class="wrapper">-->
<!--        <header>-->
<!--            <div class="header">-->
<!--                <img-->
<!--                    alt="Web APIs logo"-->
<!--                    height="128"-->
<!--                    routerLink="/"-->
<!--                    src="assets/images/web-api.svg"-->
<!--                    width="128"-->
<!--                    class="logo"-->
<!--                />-->
<!--                <div>-->
<!--                    <h1 class="title">Web APIs for Angular</h1>-->
<!--                    <section>-->
<!--                        High quality lightweight wrappers for native Web APIs for idiomatic use with Angular-->
<!--                    </section>-->
<!--                    <a-->
<!--                        iconStart="@tui.home"-->
<!--                        routerLink="/home"-->
<!--                        routerLinkActive="active"-->
<!--                        tuiLink-->
<!--                        class="back"-->
<!--                    >-->
<!--                        Home-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </header>-->
<!--        <main>-->
<!--            <router-outlet />-->
<!--        </main>-->
<!--        <footer>-->
<!--            Icons made by-->
<!--            <a-->
<!--                href="https://www.flaticon.com/authors/freepik"-->
<!--                title="Freepik"-->
<!--            >-->
<!--                Freepik-->
<!--            </a>-->
<!--            from-->
<!--            <a-->
<!--                href="https://www.flaticon.com/"-->
<!--                title="Flaticon"-->
<!--            >-->
<!--                www.flaticon.com-->
<!--            </a>-->
<!--        </footer>-->
<!--    </div>-->
<!--</tui-root>-->
