<tui-root>
    <header>
        <img
            routerLink="/"
            src="assets/images/web-api.svg"
            width="128"
            height="128"
            alt="Web APIs logo"
            class="logo"
        />
        <div>
            <h1>Web APIs for Angular</h1>
            <section>
                High quality lightweight wrappers for native Web APIs for
                idiomatic use with Angular
            </section>
            <a
                tuiLink
                routerLink="/home"
                routerLinkActive="active"
                class="back"
            >
                <tui-svg src="tuiIconHome"></tui-svg>
                Home
            </a>
        </div>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        Icons made by
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
            Freepik
        </a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">
            www.flaticon.com
        </a>
    </footer>
</tui-root>
