@let notes = notes$ | async;

@if (notes) {
    @for (note of notes | keyvalue; track noteKey) {
        @if (note.value !== null) {
            <ng-container
                autoplay
                detune="5"
                waOscillatorNode
                [frequency]="note.key | frequency"
            >
                <ng-container
                    waGainNode
                    [gain]="note.value | adsr: 0 : 0.1 : note.value * 0.8 : 1"
                >
                    <ng-container waAudioDestinationNode />
                </ng-container>
            </ng-container>
            <ng-container
                autoplay
                type="sawtooth"
                waOscillatorNode
                [frequency]="note.key | frequency"
            >
                <ng-container
                    waGainNode
                    [gain]="note.value | adsr: 0 : 0.1 : note.value * 0.8 : 1"
                >
                    <ng-container
                        waAudioDestinationNode
                        (quiet)="onQuiet(note?.key)"
                    />
                    <ng-container [waOutput]="convolver" />
                </ng-container>
            </ng-container>
        }
    }

    <ng-container
        #convolver="AudioNode"
        waConvolverNode
        [buffer]="response | async"
    >
        <ng-container waAudioDestinationNode />
    </ng-container>

    @for (key of octaves; track $index) {
        <div
            [class]="getClass(notes, key)"
            (mousedown)="onMouseDown(key)"
            (touchstart)="onMouseDown(key)"
        ></div>
    }
}
