<ng-container *ngIf="notes$ | async as notes">
    <ng-container *ngFor="let note of notes | keyvalue; trackBy: noteKey">
        <ng-container *ngIf="note.value !== null">
            <ng-container
                autoplay
                detune="5"
                waOscillatorNode
                [frequency]="note.key | frequency"
            >
                <ng-container
                    waGainNode
                    [gain]="note.value | adsr: 0 : 0.1 : note.value * 0.8 : 1"
                >
                    <ng-container waAudioDestinationNode />
                </ng-container>
            </ng-container>
            <ng-container
                autoplay
                type="sawtooth"
                waOscillatorNode
                [frequency]="note.key | frequency"
            >
                <ng-container
                    waGainNode
                    [gain]="note.value | adsr: 0 : 0.1 : note.value * 0.8 : 1"
                >
                    <ng-container
                        waAudioDestinationNode
                        (quiet)="onQuiet(note?.key)"
                    />
                    <ng-container [waOutput]="convolver" />
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container
        #convolver="AudioNode"
        waConvolverNode
        [buffer]="response | async"
    >
        <ng-container waAudioDestinationNode />
    </ng-container>

    <div
        *ngFor="let key of octaves"
        [class]="getClass(notes, key)"
        (mousedown)="onMouseDown(key)"
        (touchstart)="onMouseDown(key)"
    ></div>
</ng-container>
