<h2>How to use</h2>
<p>
    Usage is pretty simple: just import service in your component and call
    <code>startViewTransition</code>
    on it.
</p>
<pre><code [highlight]="codeSample" [languages]="['ts']"></code></pre>
<h2>Basic example</h2>

@let context = {detailInfo: detailInfo$ | async, activeIndex: activeIndex$ | async};

@if (context.detailInfo) {
    <div class="expanded-photo">
        <img
            alt="image"
            [src]="context.detailInfo.src"
            (click)="close()"
        />
    </div>
} @else {
    <div class="photos">
        @for (item of data; track $index) {
            <div
                class="photo"
                (click)="open($index)"
            >
                <span class="author">
                    Photo by
                    <a
                        target="_blank"
                        [href]="item.url"
                    >
                        {{ item.author }}
                    </a>
                </span>
                <img
                    alt="img"
                    [src]="item.src"
                    [style.viewTransitionName]="context.activeIndex === $index ? 'expandable-image' : null"
                />
            </div>
        }
    </div>
}

<a
    href="https://www.pexels.com"
    rel="noreferrer"
    target="_blank"
    tuiLink
>
    Photos provided by Pexels
</a>
