name: ⚙️ Lint

on:
  pull_request:
  push:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.66.2
      - uses: taiga-family/ci/actions/setup/node@v1.66.2
      - run: npm run prettier -- --check
      - run: npm run typecheck
      - run: npm run lint

concurrency:
  group: lint-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
