name: ⚠️ Release
on:
  workflow_dispatch:
    inputs:
      forcePush:
        type: boolean
        required: false
        description: --force-publish package
      mode:
        type: choice
        description: force package to be versioned (depend --force-publish)
        required: false
        default: minor
        options:
          - patch
          - minor
          - major

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'chore(release)')"
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.72.0
      - uses: taiga-family/ci/actions/run/release-it@v1.72.0
        with:
          ref: ${{ github.ref }}
          githubToken: ${{ secrets.TAIGA_FAMILY_BOT_PAT }}
          npmToken: ${{ secrets.TAIGA_UI_SCOPE_NPM_TOKEN }}
          forcePush: ${{ github.event.inputs.forcePush }}
          mode: ${{ github.event.inputs.mode }}

concurrency:
  group: release-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
