name: ⚠️ Release
on:
  workflow_dispatch:
    inputs:
      forcePush:
        type: boolean
        required: false
        description: --force-publish all package
      mode:
        type: choice
        description: force all packages to be versioned (depend --force-publish)
        required: false
        default: minor
        options:
          - patch
          - minor
          - major
          - prerelease

jobs:
  run-release:
    name: Run release
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'chore(release)')"
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.62.24
        with:
          token: ${{ secrets.TAIGA_FAMILY_BOT_PAT }}
          ref: ${{ github.ref }}
          fetch-depth: 0
      - uses: taiga-family/ci/actions/setup/variables@v1.62.24
      - uses: taiga-family/ci/actions/setup/node@v1.62.24
      - uses: taiga-family/ci/actions/setup/config/git@v1.62.24
        with:
          token: ${{ secrets.TAIGA_FAMILY_BOT_PAT }}
      - uses: taiga-family/ci/actions/setup/config/npm@v1.62.24
        with:
          token: ${{ secrets.NPM_TOKEN }}

      - run: |
          if [[ "${{ github.event.inputs.forcePush }}" == "true" ]]; then

            if [[ "${{ github.event.inputs.mode }}" != "prerelease" ]]; then
              npx release-it "${{ github.event.inputs.mode }}" --increment --ci
            else
                npx release-it --preRelease=alpha --ci
            fi

          else
              npx release-it --increment --ci
          fi
